.container_admin
    .campaign_list
        %h1 Your of Campaigns
        - @campaigns.each do |campaign|
            .campaign_each
                %p= link_to "#{campaign.title}", campaign
                %p Story: #{campaign.description}
                %p Amount Raised: #{campaign.amount_raised}
                -if user_signed_in? && current_user == campaign.user
                    %p= link_to 'Edit', edit_campaign_path(campaign)
                    %p= link_to 'Delete', campaign_path(campaign),method: :delete, data: { confirm: 'Are you sure?' }
            
    .create_campaign   
        %p= link_to 'Create a Campaign', new_campaign_path 
