%link href="../../assets/stylesheets/navbar.sass", rel="stylesheet"

.container

    .header

        .login
            .logo
            %p= link_to 'How it works', information_path
            - if user_signed_in?
                %p#hello_name= "Hello, #{current_user.firstname}!"
                %p.link= link_to 'Log out', destroy_user_session_path, method: :delete
                %p.link= link_to 'Manage your account', admin_path
            - else
                %p.link= link_to 'Sign up', new_user_registration_path
                %p.link= link_to 'Log in', new_user_session_path

        .header_text
            #tagline
                %p Fundraising for the people 
                %p and causes you care about
                %br
            #sub_text
                %p Get started today.
            %p#campaign_button= link_to 'Start a Campaign', new_campaign_path

    .campaigns

        %h1#campaign_header Top fundraisers

        .campaign_cards
            - @campaigns.each do |campaign|
                .card
                    = link_to '', campaign
                    %p= link_to "#{campaign.title}", campaign
                    %p Story: #{campaign.description}
                    %p Amount Raised: #{campaign.amount_raised}