- if user_signed_in?
    %p= "Hello, #{current_user.firstname}, you are the boss!"
    %p= link_to 'Log out', destroy_user_session_path, method: :delete
    
- else
    %p= link_to 'Sign up', new_user_registration_path
    %p= link_to 'Log in', new_user_session_path

%h1 List of Campaigns
- @campaigns.each do |campaign|
    %p= campaign.title
    %p= campaign.description
    %p= campaign.amount_raised
