- if user_signed_in?
    %p= "Hello, #{current_user.firstname}!"
    %p= link_to 'Log out', destroy_user_session_path, method: :delete
- else
    %p= link_to 'Sign up', new_user_registration_path
    %p= link_to 'Log in', new_user_session_path

%h1 List of Campaigns
- @campaigns.each do |campaign|
    %p Title: #{campaign.title}
    %p Story: #{campaign.description}
    %p Amount Raised: #{campaign.amount_raised}
%p= link_to 'Create a Campaign', new_campaign_path 
