= form_with scope: :campaign, url: campaigns_path do |form|
    %p
        = form.label :amount
        %br/
        = form.text_field :amount
    %p
        = form.label :Company_name
        %br/
        = form.text_field :Company_name
    %p
        = form.label :Postal_code
        %br/
        = form.text_field :Postal_code
    %p
        = form.label :Category
        %br/
        = form.text_field :Category
    %p
        = form.label :title
        %br/
        = form.text_field :title
    %p
        = form.label :description
        %br/
        = form.text_area :description
    %p
        = form.label :amount_raised
        %br/
        = form.text_field :amount_raised
    
    %p
        = form.submit
