= render 'partials/navbar'

.campaign_wrapper
    %p= @campaign.title
    %p= @campaign.description
    %p= @campaign.amount_raised
    = link_to 'donate now', new_donation_path(campaign_id: @campaign.id)
    %br/
    = link_to 'share on facebook', '#'

    = render 'footer'