%link{href: "../../assets/stylesheets/campaign_details.sass", rel: "stylesheet"}

.container
    .header_img
    .campaign_title
        %p= @campaign.title
    .campaign_description
        %p= @campaign.description
    .campaign_amount_raised
        %p Total raised:
        %p= @campaign.amount_raised
    .donate_button
        = link_to 'Donate now', new_donation_path(campaign_id: @campaign.id)
= render 'partials/navbar'